# parameter settings file for the infobot
# kevin lenzo (lenzo@cs.cmu.edu)

# note:
#   '$var' means a parameter that has been named; it is interpolated.
#   By convention, things with '.ext' (extensions) are text files, and
#   things with hyphens in them are DBM file prefixes, used for run-time
#   learning or state maintenance.
#
# Nota Bene: Comment out attributes you don't want. Note that the
#            word "false" is actually a true value! use 0 or comment
#            out options you don't want.

# the internal name for this bot
ident            opus

# the nickname we want
wantNick         marcel

# the prefix of the dbm files
dbname           $ident

# where to put logging info
logfile          $ident.log

# plusplus, an idea hijacked from CMU zephyr community,
# and dkindred++ in particular. Otherwise known
# as 'karma'.  this is persistant between shutdowns.

plusplus         $ident-karma

# persistant "seen" db
seen             $ident-seen

# do we have an ignore database? uncomment this if not.
ignore           $ident-ignore

# should we ALWAYS close and reopen dbm on update?
# some systems don't do commitment until quit.
#
#   0 => never force sync
#   1 => force sync on every update
#   N => force sync every Nth update

commitDBM        5


# X is Y
# max length of X (the key, 
#                  the 'left hand side' (LHS) of an assignment, 
#                  or the first argument)

maxKeySize       50


# max length of Y (value or data, the 'right hand side', or 2nd argument)
maxDataSize      400

# REQUIRE, OPTIONAL, REJECT for different behaviour with URLs
# REQUIRE  means it will need to be a url type (e.g. file:, http:)
# OPTIONAL will take anything
# REJECT   will not accept any urls.  this makes it easy to
#          run 2 with different nicks and styles.

acceptUrl        OPTIONAL

# IRC-related params
ircuser          $ident
realname         $ident
server           gopher.onshored.com
port             6667
allowed_channels #onshored #webco #rumors #testing #opus

# channels to join
# use #channel,key (thanks to tile++) for keyed channels

join_channels    #onshored #rumors #testing #opus
# for testing
# join_channels    #$ident

# server password, if needed
# server_pass    myserverpassword

# vhost support... if you have a vhost, you can use this, 
#                                otherwise it won't work.
#                                inm++, elph++ for this :)
# vhost_name     f00.bar.org

# addressing is when you name the bot.  if this is REQUIRE,
# the bot should only speak when spoken to.  BUT it may listen.
# anything else will mean it can barge in when it thinks it 
# knows something.
# "shutup" determines whether you can switch modes on the
# fly with the bot.  if you use REQUIRE for addressing, you
# probably want to comment out the shutup line.

addressing       OPTIONAL
shutup           TRUE

# ansi screen control is available from 0.32 onwards
# value of 1 means to use ANSI, 0 means generic bold
ansi_control     1

# things we may or may not want to allow. 1 = allow, 0 otherwise.
# do you want to be a desktop calc?
perlMath         0
fortranMath      0

# do you want to allow DNS lookup/Internic/Traceroute?
allowDNS         1
allowTraceroute  0
allowInternic    0

# ord/chr etc
allowConv        1

# tell so-and-so about such-and-such
allowTelling    0 

# let any old joe update stuff. if this is 0, you'll have to
# either change some code, do everything with e.g. make_db,
# or do something else arcane to get factoids in.
allowUpdate      1

# How much verbage to display on the console
VERBOSITY        1

# the magic hack word to unignore everyone
unignoreWord     unignore-everyone

# where configuration and help files and such live
miscdir          ./files

# my help file.  this will get miscdir prepended
# you may want to change this to $ident.help

helpfile         infobot.help

# within how long of getting the same reply should
# we not respond (irc mode only).  in seconds.

repeatIgnoreInterval 8

# in what contexts do we let people make the bot leave a
# channel (this is an or'd list; public private)

allowLeave       public

# our user list default file (in miscdir)
# you may want to change this to $ident.users

userList         infobot.users

# default quit message
quitMsg          regrouping; bbiab


# how long does something have to be before we'll just volunteer
# the answer without a question mark, question, or being addressed
minVolunteerLength 8

# other bots to ask for help

# friendlyBots url purl script mrapi

# sane defines that ALWAYS overwrite existing values at startup
# this is a prefix for the files (sane-is.txt, sane-are.txt)

sanePrefix sane

# allow weather and METAR lookups, respectively. These should
# actually be turned into a user modes.  mendel++. Require
# LWP and metar requires Geo::METAR.
weather true
metar   false

# babelfish translator.  jdf++. requires LWP, not included.
babel   true

magyar   true

travlang   true

# slashdot headlines. requires LWP, not included. get it from CPAN.
slash   true

# insult server
insult  true

# google search.. simon++ . expanded to www search using several
# engines since it was so easy once you have WWW::Search.
# use "update" if you want it to update the db, or comment
# out if you don't want it. requires WWW::Search, not included.
# use "forceupdate" to force a db update on every google search.
wwwsearch  update
